/* .ranking {
} */

.ranking-header {
  display: flex;
  gap: 8px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  height: 100px;
  background-color: #ED7171;
}

.ranking-container {
  width: 100%;
}

.ranking-player {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ranking-players {
  height: calc(100vh - 40vh);
  max-width: 1020px;
  overflow: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.ranking-player-card {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 20px;
  color: white;
  width: 100%;
  background-color: #58B5A3;
  outline: 4px solid #C1DBD5;
  border-radius: 4px;
  padding: 8px 25px;
  margin: 16px 8px;
  align-items: center;
}

.ranking-player-card-low-positions { 
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 20px;
  color: #C6C6C6;
  width: 100%;
  background-color: #E9E9E9;
  outline: 4px solid #F4F4F4;
  border-radius: 4px;
  padding: 8px 25px;
  margin: 16px 8px;
  align-items: center;
}

.ranking-player-card-position {
  font-weight: bold;
  font-size: x-large;
  color: #2A6053;
}

.medal {
  color: white;
  font-size: x-large;
}

.button-container {
  width: 100%;
}

.button-content {
  max-width: 1020px;
  margin: 0 auto;
}

.ranking-btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #FFD96A;
  border: 4px solid #FFEFBF;
  font-weight: bolder;
  border-radius: 4px;
  width: 100%;
  margin: 16px auto;
  padding: 8px;
  font-size: x-large;
  color: #956C2F;
}

.ranking-btn-home:hover {
  box-shadow: 1px 1px 10px #FFD96A;
}

.ranking-btn-home:hover {
  cursor: pointer;
}